div .coluna-auto img{ max-width: 380px; }
.body{ background-color: rgba(45,45,45,1); }
.hr{ background-color: var(--branco); }
.pernso-1{background-image: url('https://i.imgur.com/P9D1DZs.jpg');background-attachment: fixed;background-repeat: no-repeat;min-height: 200px;}
.pernso-2{margin-bottom: -20px;}
.pernso-3{background: rgba(60,60,60,1);background-image: url('https://i.imgur.com/P9D1DZs.jpg');background-attachment: fixed;background-repeat: no-repeat;background-position: top;}

.nav ul li a{ border-bottom: 2px solid transparent;-webkit-transition: border .6s;-o-transition: border .6s;transition: border .6s;padding-bottom: .1em;color: rgba(255,255,255,.4); }
.nav ul li a:hover{border-bottom: 2px solid var(--amarelo-1);}
.nav ul li a i {border-bottom: 2px solid transparent;-webkit-transition: border .6s;-o-transition: border .6s;transition: border .6s;padding-bottom: .1em;color: rgba(255,255,255,.4);font-size: 1.4em;}
.hb{display: inline-block;height: 4px; background-color: white;margin: 1px 0;opacity: .7;}
.cx-hb{float: left;width: 32px;margin-left: 1.4em;margin-top: 1.4em;display: none;cursor: pointer;position: fixed;z-index: 2; }

  input[type=checkbox]{display: none;}
 .menu {width: 0;position: fixed;z-index: 1;top: 0;left: 0;background-color: rgba(45,45,45, 1);overflow-x: hidden;-webkit-transition: 0.5s;-o-transition: 0.5s;transition: 0.5s;height: 100%;margin: 0 auto;}
 
 div .coluna-auto img { margin-top: 2em; }
 iframe { width: 100%;height: 450px;border: none; }
 .menu ul { border-radius: .4em;background-color: rgba(255,255,255, 1);padding: 3em; }
 .menu ul li { width: 100%;max-width: 100%;border-bottom: 2px solid transparent; }
 .menu ul li:hover{border-bottom: 2px solid var(--amarelo-1);}
 .menu-0:checked ~ .menu { width: 100%;padding: 3em;padding-top: 6em;}
 .acesso { max-width: 360px; }

@media screen and (max-width:640px){ .cx-hb { display: block; } .margem-caixa { margin-top: 20px; } }
.ativo i { color: var(--azul-1) !important;border-bottom: 2px solid var(--amarelo-1) !important; }
.mySlides {display: none}
.branco-opaco { color: rgba(255,255,255,.6);}

/* Slideshow container */
.slideshow-container {  
  position: relative;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: var(--amarelo-1);
  font-weight: bold;
  font-size: 3em;
  transition: 0.6s ease;
  border-radius: .4em;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0 !important;
  border-radius: .4em;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(200,200,200,0.5);
}

.prev {
	left: 0 !important;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

iframe:focus {
  outline: none;
}
